<section class="plan-types relative container mx-auto mt-48 pb-24">
  <!-- Travel Tickets Illustration -->
  <div class="travel-tickets-illustration pt-32">
    <img class="travel-tickets w-1/3 absolute" src="./images/travel-tickets-colour.svg" alt="" />
  </div>

  <!-- Row #1 -->
  <div class="flex mb-4">
    <div class="w-1/2 mr-8">
      <!-- Callout 1 -->
      <div class="w-full mx-auto lg:max-w-full lg:flex shadow-2xl">
        <div
          class="plan-image h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden bg-center"
          style="background-image: url(https://source.unsplash.com/600x400/?nature)"></div>
        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl mb-2">
              Callout 1
            </div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptatibus quia, nulla! Maiores et perferendis eaque,
              exercitationem praesentium nihil.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="w-1/2">
      <!-- Callout 2 -->
      <div class="w-full mx-auto lg:max-w-full lg:flex shadow-2xl">
        <div
          class="plan-image h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden bg-center"
          style="background-image: url(https://source.unsplash.com/600x400/?business)"></div>
        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl mb-2">
              Callout 2
            </div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptatibus quia, nulla! Maiores et perferendis eaque,
              exercitationem praesentium nihil.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row #2 -->
  <div class="flex mb-4">
    <div class="w-1/2 mr-8">
      <!-- Callout 3 -->
      <div class="w-full mx-auto lg:max-w-full lg:flex shadow-2xl">
        <div
          class="plan-image h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden bg-center"
          style="background-image: url(https://source.unsplash.com/600x400/?ocean)"></div>
        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl mb-2">
              Callout 3
            </div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptatibus quia, nulla! Maiores et perferendis eaque,
              exercitationem praesentium nihil.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="w-1/2">
      <!-- Callout 4 -->
      <div class="w-full mx-auto lg:max-w-full lg:flex shadow-2xl">
        <div
          class="plan-image h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden bg-center"
          style="background-image: url(https://source.unsplash.com/600x400/?work)"></div>
        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl mb-2">
              Callout 4
            </div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptatibus quia, nulla! Maiores et perferendis eaque,
              exercitationem praesentium nihil.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>