<section class="quote-form flex items-center justify-center p-12 container mx-auto rounded-lg h-24 bg-gray-200">
  <input class="shadow rounded py-2 px-3 text-gray-700 w-1/4 mr-8" type="text" placeholder="Where are you going?" />
  <input class="shadow rounded py-2 px-3 text-gray-700 w-1/4 mr-8" type="date" />
  <input class="shadow rounded py-2 px-3 text-gray-700 w-1/4 mr-8" type="date" />
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-1/4">
    Submit
  </button>
</section>