<section class="container mx-auto">
  <div class="testimonial-container w-1/2 mx-auto relative pb-32">
    <div class="quotes w-24 absolute">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
        viewBox="0 0 100 125" style="fill: #ccc;" xml:space="preserve">
        <path class="st0"
          d="M75.6,40.5c11,0,19.9,9,19.9,20c0,11-9,20-20,20s-20-9-20-20c0-22.1,17.9-40,40-40  C95.5,20.5,82.4,25.4,75.6,40.5z M45.5,60.5c0,11-9,20-20,20s-20-9-20-20l0,0c0-22.1,17.9-40,40-40c0,0-13.1,4.9-19.9,20  C36.6,40.5,45.5,49.5,45.5,60.5z" />
      </svg>
    </div>

    <p class="testimonial italic text-3xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolorem, aspernatur odit sit aliquam, natus
      reprehenderit maxime voluptatibus nisi assumenda, sequi velit delectus ducimus neque voluptatum a. Reiciendis,
      obcaecati modi?
    </p>

    <!-- Citation -->
    <div class="flex items-center mt-6">
      <img class="w-10 h-10 rounded-full mr-4" src="./images/jonathan.jpg" alt="Avatar of Jonathan Reinink" />
      <div class="">
        <p class="text-gray-900 leading-none">Larry Silver</p>
        <p class="text-gray-600 text-sm">Aug 18</p>
      </div>
    </div>
  </div>
</section>